CLIENT_USERNAME=akbar
CLIENT_PASSWORD=9915504
ADMIN_USERNAME=Nazarov
ADMIN_PASSWORD=admin9915504
AUTH_SECRET=change-me-to-a-long-random-string
PUBLIC_HOST=www.nazarov.uz
COOKIE_SECURE=0
DATA_DIR=
PORT=3847
TELEGRAM_USERNAME=nazarov_07_09
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
